@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  letter-spacing: 0.05em !important;
}

.btn-enhanced {
  @apply transition-colors active:bg-[#4f6275];
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

.play-icon {
  background-image: url('/play.svg');
}

.stop-icon {
  background-image: url('/stop.svg');
}

.pause-icon {
  background-image: url('/pause.svg');
}

.add-icon {
  background-image: url('/plus.svg');
}

.minus-icon {
  background-image: url('/minus.svg');
}

.check-icon {
  background-image: url('/check.svg');
}

.settings-icon {
  background-image: url('/settings.svg');
}